# Tugas Wrangling 1

* Silakan download dan kerjakan soal berikut dimanapun (laptop pribadi/google colab/etc.)
* Setelah selesai mengerjakan, upload file ini di tempat yang telah disediakan pada platform.
* Beri nama file seperti berikut: {username}-wrangling-1.ipynb
* Contoh: johndoe-ab12-wrangling-1.ipynb
* Tutorial: https://discourse.pacmann.ai/t/pengumuman-seluruh-platform-pacmann-ai/409
* Username dapat dilihat di dalam akun anda.
* Mohon jangan mengubah nama variabel yang telah diberikan.
* Namun anda diperbolehkan untuk menambah variabel apapun.
* **Langkah-langkah pengerjaan** dimaksudkan untuk membantu anda membuat fungsi, namun jika anda ingin menggunakan cara lain, dipersilahkan
---

In [ ]:
import numpy as np
import pandas as pd

1. Memasuki bulan kesehatan, puskesmas Asgard melakukan kunjungan ke SMA 1 Asgard untuk melakukan monitoring **Indeks Massa Tubuh** (IMT) para siswa. Dari kunjungan tersebut sekolah ternyata telah memiliki data mengenai tinggi badan (dalam meter) dan berat badan (dalam kg) dari siswa yang disimpan ke dalam dictionary. 

- Tugas anda adalah membuat sebuah elemen baru didalam dictionary dengan keynya **imt** dan valuenya merupakan hasil perhitungan imt (10 Poin)

$$IMT = \frac{berat \ badan (kg)}{tinggi\ badan(m)^2}$$

   >note: hasil perhitungan imt dibulatkan menjadi 2 angka dibelakang koma


  - Dari data siswa yang telah diupdate dengan menambahkan imt-nya, buatlah list imt dari semua siswa kemudian hitung rata-rata imt dari siswa-siswa SMA Asgard. (10 Poin)

> Hint : anda dapat menggunakan list comprehension untuk mendapatkan data imt tiap siswa

In [ ]:
data = [{'nama': 'Senpai', 'tinggi': 1.55, 'berat': 63.41},
 {'nama': 'Yui Rio', 'tinggi': 1.53, 'berat': 61.17},
 {'nama': 'Yuna Hina', 'tinggi': 1.62, 'berat': 70.98},
 {'nama': 'Koharu Hinata', 'tinggi': 1.77, 'berat': 53.45},
 {'nama': 'Mei Mio', 'tinggi': 1.58, 'berat': 67.81},
 {'nama': 'Saki Miyu', 'tinggi': 1.57, 'berat': 68.12},
 {'nama': 'Kokona Haruka', 'tinggi': 1.76, 'berat': 61.96},
 {'nama': 'Haruto Yuto', 'tinggi': 1.52, 'berat': 64.89},
 {'nama': 'Sota Yuki', 'tinggi': 1.62, 'berat': 56.73},
 {'nama': 'Hayato Haruki', 'tinggi': 1.68, 'berat': 69.07},
 {'nama': 'Ryusei Koki', 'tinggi': 1.66, 'berat': 53.02},
 {'nama': 'Sora Sosuke', 'tinggi': 1.5, 'berat': 55.89},
 {'nama': 'Riku Soma', 'tinggi': 1.62, 'berat': 78.24}]

In [ ]:
# Menambah elemen imt ke dictionary
# Tuliskan Kode disini

[{'nama': 'Senpai', 'tinggi': 1.55, 'berat': 63.41, 'imt': 26.39},
 {'nama': 'Yui Rio', 'tinggi': 1.53, 'berat': 61.17, 'imt': 26.13},
 {'nama': 'Yuna Hina', 'tinggi': 1.62, 'berat': 70.98, 'imt': 27.05},
 {'nama': 'Koharu Hinata', 'tinggi': 1.77, 'berat': 53.45, 'imt': 17.06},
 {'nama': 'Mei Mio', 'tinggi': 1.58, 'berat': 67.81, 'imt': 27.16},
 {'nama': 'Saki Miyu', 'tinggi': 1.57, 'berat': 68.12, 'imt': 27.64},
 {'nama': 'Kokona Haruka', 'tinggi': 1.76, 'berat': 61.96, 'imt': 20.0},
 {'nama': 'Haruto Yuto', 'tinggi': 1.52, 'berat': 64.89, 'imt': 28.09},
 {'nama': 'Sota Yuki', 'tinggi': 1.62, 'berat': 56.73, 'imt': 21.62},
 {'nama': 'Hayato Haruki', 'tinggi': 1.68, 'berat': 69.07, 'imt': 24.47},
 {'nama': 'Ryusei Koki', 'tinggi': 1.66, 'berat': 53.02, 'imt': 19.24},
 {'nama': 'Sora Sosuke', 'tinggi': 1.5, 'berat': 55.89, 'imt': 24.84},
 {'nama': 'Riku Soma', 'tinggi': 1.62, 'berat': 78.24, 'imt': 29.81}]

In [ ]:
# rata-rata imt
list_imt = # Tuliskan Kode disini
mean_imt = # Tuliskan Kode disini
print("Rata-rata indeks massa tubuh siswa SMA Asgard adalah", mean_imt)

24.58

2. Anda diberikan data suhu Provinsi DKI Jakarta pada tahun 2011 dalam bentuk list 2d:

  ![suhu.png]()

  dari data tersebut:
- Buat fungsi untuk mengkonversi data list tersebut menjadi sebuah numpy array berdimensi 2. Perlu diperhatiakan setiap elemen disamakan tipenya menjadi float. (10 poin)
- Berapakah suhu tertinggi dari kolom suhu rata-rata? (5 poin)
- Berapa rata-rata suhu maksimum dan suhu minimum Provinsi DKI Jakarta pada tahun 2011? (5 poin)

sumber: https://data.jakarta.go.id/dataset/data-suhu-udara-di-dki-jakarta-menurut-bulan

In [ ]:
data_suhu = [["32,6","23,4","27,3"],
            ["33,2","23,6","27,4"],
            ["34,8",24.00,"27,9"],
            [34.00,"24,2","28,6"],
            ["34,4",24.00,"28,8"],
            ["33,6","24,6","28,7"],
            ["33,2",24.00,"28,3"],
            ["34,6",24.00,"28,8"],
            ["34,8",24.00,29.00],
            ["35,2",24.00,"29,2"],
            ["35,4",24.00,"28,9"],
            [35.00,24.00,"28,9"]]

In [ ]:
def convert_data(data):
    # Buat placeholder untuk menyimpan output fungsi
    # Lakukan pengulangan terhadap inner list
        # Buat placeholder untuk menyimpan hasil konversi dari tiap elemen inner list
        # Lakukan Pengulangan terhadap setiap elemen inner list
            # Jika elemen bertipe str
                # Ganti tanda "," menjadi "."
                # Convert menjadi float
                # Append ke dalam placeholder inner
            # Jika elemen bertipe int
                # Convert menjadi float dan append ke placeholder inner
            # Jika elemen bertipe float
                # Append ke placeholder
        # Append placeholder inner kedalam placeholder out
    return np.array(out)

data_suhu_clean = convert_data(data_suhu)
data_suhu_clean

array([[32.6, 23.4, 27.3],
       [33.2, 23.6, 27.4],
       [34.8, 24. , 27.9],
       [34. , 24.2, 28.6],
       [34.4, 24. , 28.8],
       [33.6, 24.6, 28.7],
       [33.2, 24. , 28.3],
       [34.6, 24. , 28.8],
       [34.8, 24. , 29. ],
       [35.2, 24. , 29.2],
       [35.4, 24. , 28.9],
       [35. , 24. , 28.9]])

In [ ]:
max_rata2 = # Tuliskan Kode disini
print("suhu rata-rata tertinggi Jakarta:", max_rata2)

suhu rata-rata tertinggi Jakarta:  29.2

In [ ]:
mean_suhumaks_suhumin = # Tuliskan Kode disini
print("rata-rata suhu maksimum dan minimum Jakarta:", mean_suhumaks_suhumin)

rata-rata suhu maksimum dan minimum Jakarta: [34.23333333 23.98333333]

3. Dalam gelaran tes Pramusim MotoGP di mandalika, pihak penyelenggara membuka 5 tribun yang bisa diisi oleh penonton. Tribun tersebut ditandai warna **merah, biru, kuning, ungu, dan tosca**. Adapun kapasitas dari masing-masin tribun:

| Tribun | Kapasitas|
|---:|:-------------|
| Merah | 8000 |
| Biru | 7000|
| Kuning | 7000|
| Ungu | 9000 |
| Tosca | 6000 |

<img src="https://lombokfokus.com/wp-content/uploads/2021/10/243355674_114939644299503_558670415035436475_n.jpg" width=400 height=400 />

Pada hari H penyelenggaraan diketahui jumlah keterisian tribun merah, biru, kuning, ungu, dan tosca secara berurutan 7281, 6820,6411, 8916, 5831. pihak penyelenggara ingin mengetahui :

- Berapa total jumlah penonton yang hadir pada gelaran tes Pramusin MotoGP. (10 poin)
- Sajikan data persentase keterisian kursi dari tiap tribun. (10 poin)

Bantulah penyelenggara untuk menjawab pertanyaan tersebut

$$ \text{% Keterisian Kursi} = \frac{\text{jumlah penonton}}{\text{kapasitas}} \times 100 \% $$

>Note : gunakan library numpy

In [ ]:
data_penonton = np.array([7281, 6820,6411, 8916, 5831])
kapasitas_tribun = np.array([8000, 7000, 7000, 9000, 6000])

In [ ]:
total_penonton = # Tuliskan Kode disini
persentase_keterisian = # Tuliskan Kode disini
print("Total penonton: ", total_penonton)
print("persentase keterisian tribun: ", persentase_keterisian)

Total penonton:  35259
persentase keterisian tribun:  [91.0125     97.42857143 91.58571429 99.06666667 97.18333333]

4. Di dua hari berikutnya sirkuit mandalika digunakan untuk gelaran Indospeed Race Series (IRS), dimana perlombaan ini menyelenggarakan 2 kategori. Kategori 250cc di hari pertama dan 600cc di hari kedua. Dan diketahui jumlah pononton di masing-masing tribun dari race dihari pertama dan kedua secara berurutan : [6152, 5521, 4910, 5101, 3109], [6981, 6049, 5521, 6919, 4241]. 
  
   Dari data jumlah penonton selama tiga hari tersebut. Berapa banyak keterisian tribun yang melebihi 70% (10 Poin)

In [ ]:
data_penonton = np.array([[7281, 6820,6411, 8916, 5831], 
                          [6152, 5521, 4710, 5101, 3109],
                          [6981, 6049, 5521, 6919, 4241]])
kapasitas_tribun = np.array([8000, 7000, 7000, 9000, 6000])

In [ ]:
persentase_keterisian = # Tuliskan kode disini
jumlah_tribun = # Tuliskan Kode disini
print("jumlah tribun yang persentase keterisiannya diatas 70%: ", jumlah_tribun)

jumlah tribun yang persentase keterisiannya diatas 70%:  12

5. Anda ingin menganalisis data produk alpukat, namun  Format datanya masih dalam bentuk json. Ubahlah data alpukat tersebut kedalam format csv. Data tersebut tersimpan di folder `data_tugas1` dengan nama_file `avocado.json`. Gunakan pandas untuk membaca datanya dan simpan dataframe kedalam `dataframe_1` lalu tampilkan tabelnya. Kemudian save kedalam `avocado.csv`. (15 Poin)
> note: orientasi json bukan default, perhatikan terlebih dahulu lalu sesuaikan.

In [ ]:
dataframe_1 = ...

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

6. Saat ingin menganalisis data pegawai, anda mendapati data tersebut disimpan di sebuah database relasional. Anda meminta Database administrator untuk menyimpan data tersebut kedalam sebuah file. Output disimpan didalam folder  `data_tugas1` dengan nama file `chinook.db`. Gunakan `sqlite3` untuk membaca isi database tersebut, kemudian di dalam pandas ambil tabel kolom `Employeeid`,`LastName`,`Title` dari tabel `employees` dan tampilkan tabelnya. Simpan tabel kedalam `dataframe_2`, kemudian save kedalam `employees.json` dengan orientasi `columns`. (15 Poin)

In [ ]:
dataframe_2 = ...

   EmployeeId LastName                Title
0           1    Adams      General Manager
1           2  Edwards        Sales Manager
2           3  Peacock  Sales Support Agent
3           4     Park  Sales Support Agent
4           5  Johnson  Sales Support Agent